@*<p>
    URL WEB
    <input type="checkbox" name="group1[]" data-id="1"/>
</p>

<p>
    URL IMG
    <input type="checkbox" name="group1[]" data-id="2" />
</p>

<p>
    Folder
    <input type="checkbox" name="group1[]" data-id="3"/>
</p>

<p>
    IMG
    <input type="checkbox" name="group1[]" data-id="4"/>
</p>*@

<input id="link" />
<button onclick="getdata()">sumit</button>